$bg-color: rgb(241,242,247);

body {
  background-color: $bg-color;
  height: 100vh;
}

.nav {
  width: 100vw;
  background-color: rgb(46,53,62);
  height: auto;
  .logo {
    text-align: left;
  }
  .logoImg {
    width: 10%;
    padding: 10px 0 10px 0;
    margin-left: 1%;
  }
}

.columnContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 92vh;
  .columnA {
    background-color: white;
    width: 20%;
    margin-right: 1%;
    height: 93vh;
    border-right: solid gray 1px;
    border-bottom: solid gray 1px;
  }
  .columnHead {
    color: lightgray;
    text-align: center;
    margin-top: 10%;
    font-size: 22px;
  }
  .columnAImg img {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-height: 170px;
    margin-left: 10%;
    margin-top: 25px;
    max-width: 100%;
    height: auto;
    &:hover {
      opacity: 0.5;
    }
  }
  .stage {
    background-color: white;
    width: 60%;
    height: auto;
    max-height: 62%;
    margin-top: 8%;
    position: relative;
    border: solid gray 1px;
    margin-bottom: 7%;
  }
  .columnB {
    background-color: white;
    width: 20%;
    margin-left: 1%;
    height: 93vh;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
  }
  .columnBImg img {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-height: 170px;
    margin-left: 10%;
    margin-top: 25px;
    max-width: 100%;
    height: auto;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1200px) {

}
