body {
  background-color: #f1f2f7;
  height: 100vh; }

.nav {
  width: 100vw;
  background-color: #2e353e;
  height: auto; }
  .nav .logo {
    text-align: left; }
  .nav .logoImg {
    width: 10%;
    padding: 10px 0 10px 0;
    margin-left: 1%; }

.columnContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 92vh; }
  .columnContainer .columnA {
    background-color: white;
    width: 20%;
    margin-right: 1%;
    height: 93vh;
    border-right: solid gray 1px;
    border-bottom: solid gray 1px; }
  .columnContainer .columnHead {
    color: lightgray;
    text-align: center;
    margin-top: 10%;
    font-size: 22px; }
  .columnContainer .columnAImg img {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-height: 170px;
    margin-left: 10%;
    margin-top: 25px;
    max-width: 100%;
    height: auto; }
    .columnContainer .columnAImg img:hover {
      opacity: 0.5; }
  .columnContainer .stage {
    background-color: white;
    width: 60%;
    height: auto;
    max-height: 62%;
    margin-top: 8%;
    position: relative;
    border: solid gray 1px;
    margin-bottom: 7%; }
  .columnContainer .columnB {
    background-color: white;
    width: 20%;
    margin-left: 1%;
    height: 93vh;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px; }
  .columnContainer .columnBImg img {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-height: 170px;
    margin-left: 10%;
    margin-top: 25px;
    max-width: 100%;
    height: auto; }
    .columnContainer .columnBImg img:hover {
      opacity: 0.5; }
