body {
  background-color: lightgray; }

.nav {
  width: 100vw;
  background-color: #2e353e;
  height: 8vh; }
  .nav .logo {
    width: 150px;
    margin-top: 15px;
    margin-left: 15px; }

.columnContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-top: 8%; }
  .columnContainer .columnA {
    background-color: white;
    width: 20%;
    flex-direction: row;
    margin-right: 3%; }
  .columnContainer .stage {
    background-color: white;
    width: 60%;
    flex-direction: row; }
  .columnContainer .columnB {
    background-color: white;
    width: 20%;
    flex-direction: row;
    margin-left: 3%; }
